.container {
    width: 70%;
    margin: auto;
    text-align: center;
  }

  .pic {
    text-align: center;
  }

  body {
    background-color: #456aa7;
  }

  h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 6rem;
    color: #a4ffe1;
  }

  #btnRefresh{
    background-color: #4ECCA3;
    padding: 1rem;
    border-radius: 1.5rem;
    font-family: 'Indie Flower', cursive;
    border: hidden;
    box-shadow: 3px 3px #232931;
    font-size: 1.5rem;
    color: #a4ffe1;
    font-weight: 900;
  }



  p {
    font-size: 2.5rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
  }

    
  img {
    width: 50%;
  }

  footer {
    margin-top: 5%;
    color: #4ECCA3;
    text-align: center;
    font-family: 'Indie Flower', cursive;
  }
  